################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SimplePrinting/SimplePrinting.VC.VC.opendb
